<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10"><%= t(:edit_sessions) %></h1>
  <p class="text-lg text-grey-darker mb-6"><%= t(:choose_time) %></p>
  <%= render 'form', meeting: @meeting %>
</div>