<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10"><%= t(:new_meeting) %></h1>
  <p class="text-lg text-grey-darker mb-6"><%= t(:choose_time_s) %></p>
  <%= render 'form', meeting: @meeting %>
</div>